body {
    font-family: Arial, sans-serif;
    background-color: #C6DDFE;
    margin: 10;
    padding: 10;
}

.container {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #0C6DFE;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0859D2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #D5F5FE;
    padding: 10px;
    border-bottom: 10px solid #ddd;
}

.actions {
    float: right;
}
